---
import Default from "../layouts/Default.astro";
import about from '../data/about.json';
import PhotoAside from "../components/PhotoAside.astro";
---

<Default title="About">
  <p class="title" slot="header">About me</p>
  <div class="box">
    <p>{about.description}</p>
  </div>
  <hr />
  <div class="container">
    <p class="title has-text-centered">Education</p>
    <div class="columns is-centered is-vcentered is-multiline">
      {about.education.map(institution => {
        return (
          <div class="column is-4">
            <div class="box has-text-centered">
              <PhotoAside src={institution.image} l_size={5} r_size={7} mobile>
                <p class="title">{institution.name}</p>
                <p class="subtitle">{institution.year}</p>
                <p>{institution.academy}</p>
              </PhotoAside>
            </div>
          </div>
        )
      })}
    </div>
    <hr />
    <p class="title has-text-centered">Experience</p>
    {about.experience.map(category => {
      // Section
      return (
        <p class="has-text-centered">{category.name}</p>
        <div class="columns is-centered is-vcentered is-multiline">{category.items.map(item => {
          const details = item.details ? <p>{item.details}</p> : '';
          return (
            <div class="column is-3">
              <div class="box">
                <PhotoAside src={item.image} l_size={5} r_size={7} mobile>
                  <p class="title has-text-centered">{item.name}</p>
                  {details}
                </PhotoAside>
              </div>
            </div>
          )
        })}
        </div>
      )
    })}
  </div>
</Default>
