---
import Default from "../layouts/Default.astro";
import Card from "../components/Card.astro";
import Filter from "../components/Filter";
import type Frontmatter from "../interfaces/Frontmatter";
import type { MarkdownInstance } from "astro";

const getPosts = async (): Promise<MarkdownInstance<Frontmatter>[]> => {
  try {
    const posts = await Astro.glob<Frontmatter>("./blog/*.md");
    posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
    return posts;
  } catch {
    return [];
  }
}

const posts = await getPosts();

const FINAL_DESCRIPTION = `${import.meta.env.NAME}'s personal blog'`

---

<Default title="Blog" description={FINAL_DESCRIPTION}>
  <p class="title" slot="header">Blog</p>
  <div class="container">
    <Filter client:only="solid-js" />
  </div>
  <div class="columns is-centered is-vcentered">
    {
      posts.map((post) => {
        return (
          <div class="column item is-narrow" data-name={post.frontmatter.title}>
            <Card>
              <div class="content" slot="content">
                <p class="title">{post.frontmatter.title}</p>
                <p class="subtitle">{post.frontmatter.description}</p>
              </div>
              <a href={post.url} class="card-footer-item" slot="footer" rel="nofollow">Go</a>
            </Card>
          </div>
        );
      })
    }
  </div>
</Default>
