---
import Social from "../components/Social.astro";
import Head from '../components/Head.astro';
import Links from "../components/Links.astro";
import PhotoAside from "../components/PhotoAside.astro";
import FooterCommon from "../components/FooterCommon.astro";
import type Background from "../interfaces/Background";
import type CV from "../interfaces/CV";


const { ME_NAME, ME_IMAGE } = import.meta.env;

/**
 * Handle background
 *
 * Returns empty url if .json is not found
 */
const loadBackground = async (): Promise<Background> => {
  try {
    const background = await import('../data/background.json');
    return background.default;
  } catch {
    return {
      url: ''
    }
  }
}

/**
 * Handle CV data
 */
 const loadCV = async (): Promise<CV> => {
  try {
    const cv = await import('../data/cv.json');
    return cv.default;
  } catch {
    return {
      base: "",
      variants: []
    }
  }
}

const background = await loadBackground();

const cv = await loadCV();

const FINAL_DESCRIPTION = `Hi! I'm ${ME_NAME}, welcome to my personal website!`

---

<!DOCTYPE html>
<html lang="en">
  <Head title="Home" description={FINAL_DESCRIPTION} name={ME_NAME} />
  <body>
    <section class="hero is-fullheight has-bg-img">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="box">
                <PhotoAside src={ME_IMAGE} alt={ME_NAME} l_size="narrow" r_size="narrow" ratio="128x128" mobile rounded>
                  <p class="title">Welcome!</p>
                  <p class="subtitle">
                    <span>I'm {ME_NAME}</span>
                  </p>
                  {
                  cv.variants.length > 0 && <>
                    <p class="is-size-6 has-text-grey-light">My CV</p>
                    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
                      <ul>
                        {cv.variants.map(variant =>
                          <li>
                            <a href={cv.base.replace("%VAR%", variant.id)} target="_blank">
                              <span class="icon-text">
                                <span class="icon">
                                  {variant.flag}
                                </span>
                                <span>{variant.name}</span>
                              </span>
                            </a>
                          </li>
                        )}
                      </ul>
                    </nav>
                  </>
                  }

                </PhotoAside>
                <div class="columns is-centered is-vcentered">
                  <div class="column is-half">
                    <Links />
                  </div>
                  <div class="column is-half">
                    <Social />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              <div class="box">
                {background.author && (
                  <p>Background photo by {background.author.name} on <a href={background.author.url} target="_blank" rel="nofollow">{background.author.platform}</a></p>
                )}
                <FooterCommon />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<style lang="scss" define:vars={{ url: `url("${background.url}")` }}>
  .has-bg-img {
    background: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
