---
import Social from "../components/Social.astro";
import Head from '../components/Head.astro';
import Links from "../components/Links.astro";
import type Background from "../interfaces/Background";
import PhotoAside from "../components/PhotoAside.astro";

const { NAME } = import.meta.env;

/**
 * Handle background
 *
 * Returns empty url if .json is not found
 */
const loadBackground = async (): Promise<Background> => {
  try {
    const background = await import('../data/background.json');
    return background.default;
  } catch {
    return {
      url: ''
    }
  }
}

const background = await loadBackground();

const FINAL_DESCRIPTION = `Hi! I'm ${NAME}, welcome to my personal website!`

---

<!DOCTYPE html>
<html lang="en">
  <Head title="Home" description={FINAL_DESCRIPTION} name={NAME} />
  <body>
    <section class="hero is-fullheight has-bg-img">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="box">
                <PhotoAside src="/img/custom/me.png" l_size={3} r_size={4} ratio="128x128" rounded>
                  <p class="title">Welcome!</p>
                  <p class="subtitle">
                    <span>I'm</span> <span>{NAME}</span>
                  </p>
                </PhotoAside>
                <div class="columns is-centered is-vcentered">
                  <div class="column is-half">
                    <Links />
                  </div>
                  <div class="column is-half">
                    <Social />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              <div class="box">
                {background.author ? <p>Background photo by {background.author.name} on <a href={background.author.url} target="_blank" rel="nofollow">{background.author.platform}</a></p> : ""}
                <p>Made with <span style="color: #e25555;">&#9829;</span> in <a href="https://github.com/pablouser1/PersonalHub" target="_blank" rel="nofollow">Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<style lang="scss" define:vars={{ url: `url("${background.url}")` }}>
  .has-bg-img {
    background: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
