---
import type Props from '../interfaces/HeadProps';

const { name, title, description } = Astro.props;

const FINAL_TITLE = `${title} - ${name}`;

import '../styles/bulma.scss';
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{FINAL_TITLE}</title>
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content={FINAL_TITLE} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
</head>
