---
import { Icon } from 'astro-icon/components';
import sections from "../constants/Sections";
---

<aside class="menu">
  <p class="menu-label">Sections</p>
  <ul class="menu-list">
    {sections.map(section => {
      return (
        <li>
          <a href={section.url}>
            <span class="icon-text">
              <span class="icon">
                <Icon name={`${section.pack}:${section.icon}`} size={24} style={`color: ${section.color}`} />
              </span>
              <span>{section.name}</span>
            </span>
          </a>
        </li>
      )
    })}
  </ul>
</aside>
