---
import Icon from "astro-icon";
import Sections from "../helpers/Sections";
---

<div class="buttons is-centered">
  {Sections.map(section => {
    return (
      <a class={`button ${section.color}`} href={section.url}>
        <span class="icon is-small">
          <Icon pack={section.pack} name={section.icon}></Icon>
        </span>
        <span>{section.name}</span>
      </a>
    )
  })}
</div>
