---
import Icon from "astro-icon";
import sections from "../constants/Sections";
---

<aside class="menu">
  <p class="menu-label">Sections</p>
  <ul class="menu-list">
    {sections.map(section => {
      return (
        <li>
          <a href={section.url}>
            <span class="icon is-small">
              <Icon pack={section.pack} name={section.icon} style={`color: ${section.color}`} />
            </span>
            <span>{section.name}</span>
          </a>
        </li>
      )
    })}
  </ul>
</aside>
