---
import { Icon } from 'astro-icon/components';
import contact from '../data/contact.json'
---

<aside class="menu">
  <p class="menu-label">Social</p>
  <ul class="menu-list">
    {contact.map(item => {
      return (
        <li>
          <a href={item.url} target="_blank" rel="nofollow">
            <span class="icon-text">
              <span class="icon">
                <Icon name={`${item.pack}:${item.icon}`} size={24} style={`color: ${item.color}`} />
              </span>
              <span>{item.name}</span>
            </span>
          </a>
        </li>
      )
    })}
  </ul>
</aside>
