---
import Icon from 'astro-icon';
import contact from '../data/contact.json'
---

<aside class="menu">
  <p class="menu-label">Social</p>
  <ul class="menu-list">
    {contact.map(item => {
      return (
        <li>
          <a href={item.url} target="_blank" rel="nofollow">
            <span class="icon is-small">
              <Icon pack={item.pack} name={item.icon} style={`color: ${item.color}`} />
            </span>
            <span>{item.name}</span>
          </a>
        </li>
      )
    })}
  </ul>
</aside>
